<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS9oawfqcZBCJ0cznsy7MFix2-_NkRMiI</string>
	<key>GCM_SENDER_ID</key>
	<string>622886773076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swEscape</string>
	<key>PROJECT_ID</key>
	<string>sw-escape-30e60</string>
	<key>STORAGE_BUCKET</key>
	<string>sw-escape-30e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622886773076:ios:29c681ea50e56aded3e8c1</string>
</dict>
</plist>